<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

    <header class="banner">
        <h1>The WT</h1>
    </header>

    <div class="content">
          <ul id="products"></ul>

        <div id="text"></div>

    </div>

    <footer class="banner">
        <p>Copyright &copy; 2019 COMP249 Web Technology</p>
    </footer>

    <!-- load Javascript -->
    <script src="/static/js/handlebars-v4.1.2.js"></script>
    <script src="/static/js/jquery-3.4.0.js"></script>
    <script src="/static/js/model.js"></script>
    <script src="/static/js/script.js"></script>

</body>
</html>


