html {
    background-color: ghostwhite;
}

body {
    margin: 0;
}

/*all images*/
img {
    width: 500px;
    height: auto;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    background-color: pink;
    padding: 0px;
}

header {
    background: rgba(60, 60, 60, .45);
    text-align: center;
    height: auto;
    list-style-type: none;
    font-family: cursive, sans-serif;
    padding: 1px;
}

header.cart {
    color: blueviolet;
}

header h2 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.footer {
    font-family: cursive, sans-serif;
    text-align: center;
    background-color: #ffcc33;
    margin: 0;
    padding: 10px;
    height: 80px;
}

#products {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.item {
    width: 500px;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}

.item .info {
    color: blue;
}



th {
    cursor: pointer;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.product {
    text-decoration: underline;
}

.product:hover {
    color: white;
    cursor: pointer;
}

.content {

}

.item {
    float: right;
}