html {
    background-color: ghostwhite;
}

body {
    margin: 0;
}

/*all images*/
img {
    width: 70%;
    height: auto;
}

.content {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    background-color: pink;
    padding: 20px;
}

.header {
    font-family: cursive, sans-serif;
    text-align: center;
    background-color: #ffcc33;
    margin: 0;
    padding: 10px;
    height: 80px;
}

.header h1 {
    font-size: 15px;
}

.footer {
    font-family: cursive, sans-serif;
    text-align: center;
    background-color: #ffcc33;
    margin: 0;
    padding: 10px;
    height: 80px;
}

.content {

}

.item {
    float: right;
}