html {
    background: rgb(30,30,30);
    color: white;
}

body {
    margin: 0;
}

.content {
    font-family: "Helvetica";
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    padding: 0px;
    height: 700px;
}

header {
    background: rgb(60, 60, 60);
    text-align: center;
    height: auto;
    font-family: cursive, sans-serif;
    height: 80px;
}

header h1 {
    font-size: 45px;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

header ul {
    margin-top: 15px;
    margin-right: 15px;
    padding: 0;
    list-style-type: none;
    float: right;
}

header h2 {
    font-family: "Helvetica";
    font-size: 20px;
    padding: 0;
    margin: 0;
}

footer {
    background: rgb(60, 60, 60);
    text-align: center;
    font-family: "Helvetica";
    padding: 10px;
    margin: 0;
    height: 60px;
}

#products {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.item {
    display: inline-block;
    width: 650px;
    margin-top: 15px;
    margin-right: 10%;
    padding: 0;
}

.item .info {
    color: whitesmoke;
}

/*all images*/
img {
    width: 650px;
    height: auto;
}

.close {
    border-radius: 3px;
    border: 1px solid white;
}
.close:hover {
    background-color: grey;
    color: white;
}

.cart {
    border-radius: 3px;
    border: 1px solid white;
}
.cart:hover {
    background-color: grey;
    color: white;
}

.addcart {
    border-radius: 3px;
    border: 1px solid white;
}
.addcart:hover {
    background-color: grey;
    color: white;
}

.quantity {
    border-radius: 3px;
    border: 1px solid white;
    width: 35px;
}

th {
    cursor: pointer;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

.product {

}

.product:hover {
    color: darkgray;
    cursor: pointer;
}

.content {

}

.item {
    float: right;
}